{% extends 'index.html' %}
{%block base%}
  <h1  ><center> New User Registration</center></h1>
    <form class="fform" action="" method="post">
        
      {%csrf_token%}
        
        <table class="table" >
            {{data.as_table}}
        </table>
        <div class="text-center">
            <button class="btn btn-success">Submit</button>
        </div>
        <br>
        <div class="text-center mb-7">Already Registered?<a href="{% url 'log' %}">Login Now</a></div>


 
    </form>
{% endblock base%}


     
 